/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* Generel */
* {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: #F5F5F5;
  
}


body {
  /* padding-top: 80px; */
   margin: 0;
}


 /* Navbar.tsx  */

.header {
  display: flex;
  align-items: center;
  /* border-bottom: 1px solid seashell; */
  position: relative;
  /* z-index: 20; */
  width: 100%;
  height: 80px;
  box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);  
}


nav {
  display: flex;
  justify-content: flex-end;
  flex: 5 1 0%;
  padding-right: 30px;
}

nav .a-tag {
 margin-left: 25px;
 margin-right: 5px;
 text-decoration: none;
 color: black;
}

.logoPosition {
  padding-top: 10px;
  text-align: left;
  flex: 1 1 0%;
}

#logoName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin: 0 auto; 
  text-decoration: none;
  color: black;
}


/* SearchResultsPage.tsx */
.divContainer{
  padding: 100px;
}

.headline {
  font-size: 50px;
  font-weight: bold;
  margin-right: -120px;
}
.containerSearch {
  width: 20%;
  margin: 0 auto; 
}

.containerSearch input {
  margin:0 0 20px 0; 
  border-radius: 20px;
}

.containerSearch button {
  margin:0 0 20px 0;
  border-radius: 20px;
  
}

/* CategoryContainer.tsx */

.categoryContainer div {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, minmax(350px, 1fr));
  justify-content: space-between;
  grid-gap: 50px;
  align-items: center;
  text-align: center;
  
}


.item {
    height: 500px; /* den her får boksen til at se stor ud i countries list på hjemmeside*/
    margin-bottom: 5rem;
    margin-right: 1rem;
    /* align-items: center;
    justify-content: center;
    text-align: center; */
    margin: 3rem;
   
   
}

.item:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

button.activeGreen {
  background-color: #1ee438;
}

/* what is this ? */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
